<section id="coach" class="navpos clearfix">
    <div class="row clearfix">
        <div class="col left">
            <div class="coach-images">
                <img id="image-coach-about" src="/Images/coach-zhu1.png" alt="" width="402" height="402"
                     style="display: block;" />
                <img id="image-coach-portfolio" src="/Images/coach-zhu2.png" alt="" width="402" height="402" />
                <img id="image-coach-contact" src="/Images/coach-zhu3.png" alt="" width="402" height="402" />
            </div>
            <div class="coach-circleBig">
                <div id="coach-menu" class="coach-menu">
                    <a id="coach-about" class="coach-about" href="">About me</a>
                    <a id="coach-portfolio" class="coach-portfolio" href="">Portfolio</a>
                    <a id="coach-contact" class="coach-contact" href="">Contact</a>
                </div>
            </div>
            <div id="circle-coach-about" class="coach-circle">
                <div class="coach-desc">
                    <ul>
                        <li>
                            我是谁
                            <div class="desc-warp-hide">
                                <p><span class="bf">主教练</span>：朱俊</p>
                                <p><span class="bf">出生年月</span>：1981年10月</p>
                                <p><span class="bf">运动员资质</span>：国家一级运动员</p>
                            </div>
                        </li>
                        <li>
                            执教经验
                            <div class="desc-warp-hide">
                                <p>1997年-2005年在苏州儿童体校做助教</p>
                                <p>2005年-2007年建屋星海游泳馆做羽毛球教练</p>
                            </div>
                        </li>
                        <li>
                            比赛成绩
                            <div class="desc-warp-hide">
                                <p>2001年“威克多杯羽毛球公开赛”专业组单打第一</p>
                                <p>2002 年参加十五届省运会高校组羽毛球比赛单打第四</p>
                                <p>2003年苏州市“小灵通杯”羽毛球比赛专业组双打第一</p>
                                <p>2004年苏州市羽毛球比赛高校组单打第二，双打第一</p>
                                <p>2009年全国东西南北中杭州分站赛男双第三</p>
                                <p>2009年全国东西南北中北京总决赛男双第五</p>
                                <p>2010年全国东西南北中昆山分站赛男双第二</p>
                                <p>2010年全国东西南北中杭州总决赛男双第四</p>
                                <p>2010年上海美津浓羽毛球比赛男双第二</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="circle-coach-portfolio" class="coach-circle">
                <div class="coach-desc">
                    <ul>
                        <li>
                            我的简历
                            <div class="desc-warp-hide">
                                <p class="fl">从小在业余体校有8年的专业队训练， 有着扎实标准的羽毛球基本功和技术。</p>
                                <p class="fl">由于身体有伤后无法继续羽毛球生涯。，现在做全职教练从事羽毛球教练多年，具有丰富的经验及技术指导。</p>
                                <p class="fl">羽毛球现在是一项群众参与性极强的运动，富的理论知识，精通羽毛球技术与教学，羽毛球技能扎实、动作优美、协调，参加了多次的羽毛球比赛，并具有裁判经验，接受过羽毛球系统的运动技能训练，熟练掌握羽毛球的技、战术特点，能让你在最短的时间内学好技术，学员学有所值，学有所成。</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="circle-coach-contact" class="coach-circle">
                <div class="coach-desc">
                    <ul>
                        <li><a href="mailto:aa@aa.com">给我邮件</a></li>
                        <li><a href="http://www.weibo.com">我的微博</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col right">
            <div class="desc-warp">
                <p><span class="bf">主教练</span>：朱俊</p>
                <p><span class="bf">出生年月</span>：1981年10月</p>
                <p><span class="bf">运动员资质</span>：国家一级运动员</p>
            </div>
        </div>
    </div>
</section>
