<section id="course" class="navpos clearfix">
    <div class="row clearfix">
        <div class="course_nav">
            <h4>
                课程介绍
                <a class='course_link' href="#recruit_content">招生信息</a>
                <a class='course_link' href="#syllabus_content">课程表</a>
            </h4>
            <ul>
                <li class="active">
                    初级班（入门）
                    <div class="course_desc_hide">
                        <p>初级班训练课程内容：握拍、颠球、发球、挥拍、身体素质。</p>
                        <ul>
                            <li>握拍：正确的握拍手法，是羽毛球训练的基础。</li>
                            <li>颠球：握拍掌握后，进一步熟悉握拍手法和简单的手部协调感觉。</li>
                            <li>发球：学习正确发球动作，多球练习。</li>
                            <li>身体素质：协调性训练，原地脚步练习，跳绳（单飞）。</li>
                        </ul>
                    </div>
                </li>
                <li>
                    中级班（定点技术）
                    <div class="course_desc_hide">
                        <p>中级班训练课程内容：发球，接球，步伐，身体素质。</p>
                        <ul>
                            <li>发球：打多球，掌握发球的力量和发球方向。</li>
                            <li>接球：地点后场接球，移动接球。</li>
                            <li>步伐：前场两点步伐，后场两点步伐。</li>
                            <li>身体素质：蛙跳，左右摸线，全场脚步移动</li>
                        </ul>
                    </div>
                </li>
                <li>
                    高级班（全面技术）
                    <div class="course_desc_hide">
                        <p>高级班训练课程内容：全场步伐，全场多球，综合球路，身体素质。</p>
                        <ul>
                            <li>全场步伐：前后场两点步伐结合，多种类全场步伐训练方式。</li>
                            <li>全场多球：发球，接球以多球为主进行有球训练。</li>
                            <li>综合球路：以1对1的模式，进行拉球、杀球、吊球的球路训练。</li>
                            <li>身体素质：综合体能训练，跳绳（双飞）。</li>
                        </ul>
                    </div>
                </li>
                <li>
                    专业班（综合技战术）
                    <div class="course_desc_hide">
                        <p>专业班训练课程内容：技术训练、战略训练（比赛）、身体素质。</p>
                        <ul>
                            <li>技术训练：主要以攻防训练为主，1对1,2对1，多球。</li>
                            <li>战略训练：主要以比赛为主，内部赛、亲子赛、交流赛。</li>
                            <li>身体素质：综合体能训练。</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="course_desc">
            <div>
                <p>初级班训练课程内容：握拍、颠球、发球、挥拍、身体素质。</p>
                <ul>
                    <li>握拍：正确的握拍手法，是羽毛球训练的基础。</li>
                    <li>颠球：握拍掌握后，进一步熟悉握拍手法和简单的手部协调感觉。</li>
                    <li>发球：学习正确发球动作，多球练习。</li>
                    <li>身体素质：协调性训练，原地脚步练习，跳绳（单飞）。</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="syllabus_hide">
        @Html.Partial("_Syllabus")
    </div>
    <div class="recruit_hide">
        @Html.Partial("_Recruit")
    </div>
</section>
