<section id="event" class="navpos clearfix">
    <div class="row clearfix">
        <div class="desc">
            <h4>公开课</h4>
            <p>地点：独墅湖体育馆</p>
            <p>通过公开课，我们更好的把自己展现出来。而我们所要做不单单只是羽毛球的一堂大型技术课程，是要让小学员们除了对羽毛球的基本理解以外，感到快乐和兴趣。所谓兴趣是最好的老师。</p>
        </div>
        <div id='coin-slider'>
            <a href="">
                <img src='/Images/event1.jpg' alt="" >
                <span>公开课图片一</span>
            </a>
            <a href="">
                <img src='/Images/event2.jpg' alt="" >
                <span>公开课图片二</span>
            </a>
        </div>
    </div>
</section>
