<section id="feature" class="navpos clearfix">
    <div class="row clearfix">
        <h4>
            特色课程介绍
            <a class='feature_link' href="#sport_pychology">运动与心理</a>
        </h4>
        <ul id="og-grid" class="og-grid">
            <li>
                <a href="#" data-largesrc="/Images/thumbnailgrid/1.jpg" data-title="训练中的心理游戏" 
                    data-description="● 易禾每周安排一名咨询师参与1-2次的训练<br />● 在训练尾声组织心理互动游戏，以及学员的心得分享<br />● 时间大约为10分钟">
                    <img src="/Images/thumbnailgrid/small/1.jpg" alt="img01"/>
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/Images/thumbnailgrid/2.jpg" data-title="面向家长的专题沙龙" 
                    data-description="<span class='bf'>每期组织1-2次专题沙龙，主要对象为学员家长</span><br />● 课题的制订原则为：易禾咨询师在日常与家长的交流中收集问题，根据内容整合出一个合适的课题<br />● 具体内容由易禾提议，由羽童审核<br />● 每次沙龙的时间大约为60分钟">
                    <img src="/Images/thumbnailgrid/small/2.jpg" alt="img02"/>
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/Images/thumbnailgrid/3.jpg" data-title="俱乐部心理顾问" 
                    data-description="● 对有心理咨询需求的学员及家长提供心理帮助<br />● 在羽童有危机事件发生时，参加俱乐部的会议，为处理危机事件提供心理帮助<br />">
                    <img src="/Images/thumbnailgrid/small/3.jpg" alt="img03"/>
                </a>
            </li>
            <li>
                <a href="#" data-largesrc="/Images/thumbnailgrid/4.jpg" data-title="心理顾问介绍" 
                    data-description="● 易小蔷老师是我们独墅湖活力羽童少儿羽毛球俱乐部的心理咨询师，我们在每一季中有规律的安排易老师为小学员们开展各种各样的游戏活动，在游戏活动中，可以小朋友们彼此认识，发挥更大的想象力等等。在这些活动中观察每一位小朋友的心理状态，易老师也会根据观察下来的结果给小朋友们带来帮助。">
                    <img src="/Images/thumbnailgrid/small/4.jpg" alt="img04"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="hide">
        @Html.Partial("_SportPychology")
    </div>
</section>
