<section id="hardware" class="navpos clearfix">
    <h4>器材推荐</h4>
    <ul class="ch-grid">
        <li>
            <div class="ch-item ch-img-1">
                <div class="ch-info">
                    <h3>器材品牌一</h3>
                    <p>专业器材<a href="http://baidu.com">品牌网站</a></p>
                </div>
            </div>
        </li>
        <li>
            <div class="ch-item ch-img-2">
                <div class="ch-info">
                    <h3>器材品牌二</h3>
                    <p>专业器材<a href="http://baidu.com">品牌网站</a></p>
                </div>
            </div>
        </li>
        <li>
            <div class="ch-item ch-img-3">
                <div class="ch-info">
                    <h3>器材品牌三</h3>
                    <p>专业器材<a href="http://baidu.com">品牌网站</a></p>
                </div>
            </div>
        </li>
    </ul>
</section>
