<section id="intro" class="navpos clearfix">
    <div class="row clearfix">
        <div class="col left">
            <div id="rotatescroll" style="cursor: pointer;">
                <div class="viewport">
                    <ul class="overview" style="width: 2220px; left: -740px;">
                        <li><a href="#" rel="group"><img src="/Images/hdr1.jpg"></a></li>
                        <li><a href="#" rel="group"><img src="/Images/hdr2.jpg"></a></li>
                        <li><a href="#" rel="group"><img src="/Images/hdr3.jpg"></a></li>
                        <li><a href="#" rel="group"><img src="/Images/hdr4.jpg"></a></li>
                    </ul>
                </div>
                <div class="dot"></div>
                <div class="overlay"></div>
                <div class="thumb"></div>
           </div>
        </div>
        <div class="col right">
            <h4>苏州活力羽童青少年羽毛球俱乐部</h4>
            <p>
                苏州活力羽童青少年羽毛球俱乐部苏州最有影响力的羽毛球培训机构之一，一直秉承“培养运动兴趣,养成良好的运动习惯”的培训理念，旨在成为苏州最优秀的羽毛球培训平台，让每一位热爱羽毛球的人都能享受到体育运动的乐趣。俱乐部的教练团队有退役的专业羽毛球运动员和体育院校羽毛球专业的毕业生组成，在苏州有多年的培训经验，对学员教学严谨耐心，能够正对学员制定合适的培训计划，让学员掌握规范的技术动作和较强的运动技能。同时俱乐部还专门聘请了知名的心里咨询师和急救培训师，全方位的为学员们提供帮助。
            </p>
        </div>
    </div>
</section>
