<div id='recruit_content'>
    <h3>2013年春季招生</h3>
    <div class="row">
        <ul class="recruit_day">
            <li class="inline">周六：
                <ul>
                    <li>8:30 - 10:00</li>
                    <li>10:00 - 11:30</li>
                    <li>13:30 - 15:00</li>
                </ul>
            </li>
            <li class="inline">周日：
                <ul>
                    <li>8:30 - 10:00</li>
                    <li>10:00 - 11:30</li>
                    <li>13:30 - 15:00</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="inline">
            <p>活力羽童 QQ 群号：</p>
            <p>微博：</p>
            <p>联系电话：</p>
            <p>秋季班费用：</p>
            <p>保险费：</p>
        </div>
        <div class="inline bf">
            <p>225854514</p>
            <p>苏州活力羽童少儿羽毛球俱乐部</p>
            <p>13862597289</p>
            <p>1120元</p>
            <p>30元</p>
        </div>
    </div>
    <div class="row">
        <p class="lf em">注：</p>
        <p class="indent">为了能保持课程的顺利进行，有意向学球的学员家长请提前先给学员交费报名</p>
        <p class="indent">为了能保持老会员教学质量，每年最多招收新学25名</p>
    </div>
    <div class="row">
        <p class="text-right">谢谢各位家长的配合</p>
    </div>
</div>
