<div id='syllabus_content'>
    <h3>活力羽童羽毛球俱乐部2013年秋冬季常规班周次表</h3>
    <div class="row">
        <table class="text-center">
            <tr class="odd bf">
                <td>学校周次</td>
                <td>周一</td>
                <td>周二</td>
                <td>周三</td>
                <td>周四</td>
                <td>周五</td>
                <td class="wek">周六</td>
                <td class="wek">周日</td>
                <td>羽毛球课周次</td>
            </tr>
            <tr>
                <td>一</td>
                <td>2/25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td class="bf">3/1</td>
                <td class="wek">2</td>
                <td class="wek">3</td>
                <td>1</td>
            </tr>
            <tr class="odd">
                <td>二</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td class="wek">9</td>
                <td class="wek">10</td>
                <td>2</td>
            </tr>
            <tr>
                <td>三</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td class="wek">16</td>
                <td class="wek">17</td>
                <td>3</td>
            </tr>
            <tr class="odd">
                <td>四</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td class="wek">23</td>
                <td class="wek">24</td>
                <td>4</td>
            </tr>
            <tr>
                <td>五</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td class="wek">30</td>
                <td class="wek">31</td>
                <td>5</td>
            </tr>
            <tr class="odd">
                <td>六</td>
                <td class="bf">4/1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td class="wek">6</td>
                <td class="wek">7</td>
                <td>清明放假</td>
            </tr>
            <tr>
                <td>七</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td class="wek">13</td>
                <td class="wek">14</td>
                <td>6</td>
            </tr>
            <tr class="odd">
                <td>八</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td class="wek">20</td>
                <td class="wek">21</td>
                <td>7</td>
            </tr>
            <tr>
                <td>九</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td class="wek">27</td>
                <td class="wek">28</td>
                <td>五一放假</td>
            </tr>
            <tr class="odd">
                <td>十</td>
                <td>29</td>
                <td>30</td>
                <td class="bf">5/1</td>
                <td>2</td>
                <td>3</td>
                <td class="wek">4</td>
                <td class="wek">5</td>
                <td>8</td>
            </tr>
            <tr>
                <td>十一</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td class="wek">11</td>
                <td class="wek">12</td>
                <td>9</td>
            </tr>
            <tr class="odd">
                <td>十二</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td class="wek">18</td>
                <td class="wek">19</td>
                <td>10</td>
            </tr>
            <tr>
                <td>十三</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td class="wek">25</td>
                <td class="wek">26</td>
                <td>11</td>
            </tr>
            <tr class="odd">
                <td>十四</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td class="wek bf">6/1</td>
                <td class="wek">2</td>
                <td>12</td>
            </tr>
            <tr>
                <td>十五</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td class="wek">8</td>
                <td class="wek">9</td>
                <td>端午放假</td>
            </tr>
            <tr class="odd">
                <td>十六</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td class="wek">15</td>
                <td class="wek">16</td>
                <td>13</td>
            </tr>
            <tr>
                <td>十七</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td class="wek">22</td>
                <td class="wek">23</td>
                <td>14</td>
            </tr>
            <tr class="odd">
                <td>十八</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td class="wek">29</td>
                <td class="wek">30</td>
                <td>15</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <p class="lf em">注：</p>
        <p class="indent">根据苏州中小学校历及国假安排，2013秋冬季羽毛球课程期初安排共计15周，如遇特殊况会及时调整，请对照各班上课时间准时参加。</p>
    </div>
</div>
