html {
    display: block;
    font-size: 100%;
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
div,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
textarea,
th,
td,
img {
    background: transparent;
    border: medium none;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }

[hidden] { display: none; }

a {
    color: #696969;
    text-decoration: none;
}
a:focus { outline: thin dotted; }
a:active,
a:hover { outline: 0; }
a:hover img { opacity: 0.8; }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] { border-bottom: 1px dotted; }

b,
strong,
.strong { font-weight: 100; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark {
    background: #0f0;
    color: #000;
}

p,
pre { margin: 1em 0; }

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
    _font-family: 'courier new', monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q { quotes: none; }

q:before,
q:after {
    content: '';
    content: none;
}

small { font-size: 0.75em; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl,
menu,
ol,
ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu,
ol,
ul { padding: 0 0 0 40px; }

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}

figure { margin: 0; }

form { margin: 0; }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input { line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
input[disabled] { cursor: default; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    *height: 13px;
    padding: 0;
    *width: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

p {
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

dfn,
em,
.em { font-style: italic; }

small,
.small { font-size: 75%; }

.bf { font-weight: bold; }

.lf { font-size: 1.4em; }

.indent {
    text-indent: 2.0em;
}

.inline {
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

dd { margin: 0; }

section {
    border-left: solid 1px #d0e0e0;
    border-right: solid 1px #d0e0e0;
}

.first { margin-left: 0; }

.last { float: right; }

.clearfix { zoom: 1; }

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after { clear: both; }

.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.hide {
    display: none;
}

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

body {
    background-color: #fff;
    font-family: "微软雅黑", "黑体", "宋体", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #333;
    font-size: 11px;
    line-height: 1.6;
    overflow-x: hidden;
}

.wrap {
    margin: 0 auto;
    width: 990px;
}

#main {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    padding: 0 0 0 1px;
    position: relative;
    width: 530px;
}

a,
a:visited { color: #0f0f0f; }

a:hover,
a:focus,
a:visited:hover,
a:visited:focus { color: #ef4426; }

a:link,
a:visited:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 100;
    text-rendering: optimizelegibility;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a { text-decoration: none; }

h1,
.h1 {
    font-size: 2.5em;
    line-height: 1.333em;
}

h2,
.h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em;
}

h3,
.h3 { font-size: 1.125em; }

h4,
.h4 {
    font-size: 1.1em;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 0.846em;
    letter-spacing: 2px;
    line-height: 2.09em;
    text-transform: uppercase;
}

.page-links {
    clear: both;
    line-height: 1.714285714;
}

footer.entry-meta {
    color: #777;
    font-size: 13px;
    line-height: 1.846153846;
    margin-top: 24px;
}

.single-author .entry-meta .by-author { display: none; }

nav.wp-prev-next {
    margin: 0 auto;
    padding: 0;
    text-align: right;
    width: 989px;
}

nav.wp-prev-next ul { width: 530px; }

nav.wp-prev-next .next-link { float: left; }

nav.wp-prev-next a {
    font-family: 'futurabold', Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
}

.required { color: red; }

label ~ span.required {
    display: block;
    float: left;
    margin: -18px 0 0 -16px;
}

.footer { clear: both; }

#hideoverflow {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.skrollrNav {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    display: block;
    font-size: 14px;
    left: 0;
    padding: 10px 10px 10px 0;
    position: fixed;
    text-transform: uppercase;
    top: 40px;
    width: 90px;
    z-index: 8;
}

.skrollrNav li {
    background: url('/Images/bg_nav.png') bottom right no-repeat;
    height: 36px;
    line-height: 32px;
    text-align: right;
}

.skrollrNav a {
    color: #000;
    letter-spacing: 2px;
}

.skrollrNav a:hover,
.skrollrNav a.active { color: #363 !important; }

.skrollrNav li.active a { color: #f00 !important; }

#masked {
    background: transparent url('/Images/top_circle.jpg') top center no-repeat;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 823px;
}

#mask {
    background: transparent url('/Images/top_mask.png') top center no-repeat;
    height: 906px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 4;
}

#mask #webcome {
    margin: 0 auto;
    padding: 325px 0 0;
    position: relative;
    text-align: center;
    width: 700px;
}

#mask h2 {
    color: #fff;
    font-family: '黑体';
    font-size: 50px;
    letter-spacing: 26px;
    line-height: 80px;
    margin: 0 0 40px 50px;
}

#mask h3 {
    color: #fff;
    font-family: '黑体';
    font-size: 68px;
    letter-spacing: 10px;
    line-height: 68px;
    margin-top: 0;
    margin-bottom: 60px;
}

#mask .divider {
    background-color: #fff;
    height: 8px;
    margin: 50px auto;
    width: 69px;
}

#mask h4 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0 auto;
    width: 410px;
}

#section1 {
    height: 202px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 7;
}

#section1 img {
    display: block;
    margin: -60px auto;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    width: 989px;
}

.section {
    min-height: 140px;
    padding-top: 60px;
    position: relative;
}

.section h3 {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 26px;
    margin: 20px 0 0 0;
    text-indent: 20px;
    text-indent: 30px;
    text-transform: uppercase;
}

#foot_wrapper {
    background-color: #84c694;
    padding-bottom: 60px;
    position: relative;
    width: 100%;
}

#thanks {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url('/Images/bg_thanks.jpg');
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f11;
    font-weight: bold;
    font-size: 90px;
    height: 200px;
    letter-spacing: 20px;
    padding-top: 5px;
    text-align: center;
}

#thanks span {
    margin-left: 40px;
}

.field_admin_only { display: none; }

#thanks img,
#thanks span { vertical-align: middle; }

#footer {
    color: #fff;
    margin: 0 auto 60px;
    width: 980px;
}

#footer a { color: #fff; }

#footer .col {
    border-top: 1px solid #fff;
    float: left;
    margin: 70px 12px 0;
    width: 30%;
}

#footer .col h2 {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 4px;
    margin: -9px 0 0;
    text-align: center;
}

#footer .col h2 span {
    background-color: #84c694;
    padding: 0 12px;
}

#footer .col.middle {
    margin: 70px 0 0;
    width: 30%;
}

#footer .col.middle h2 { margin-bottom: -20px; }

#footer .col.middle li a {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 73px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#footer .col.left,
#footer .col.right {
    height: 96px;
    padding: 0 10px;
    position: relative;
}

#footer .col.left .weibo,
#footer .col.left .qq,
#footer .col.right .weibo,
#footer .col.right .qq {
    bottom: 0;
    display: block;
    height: 45px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9000px;
    width: 100%;
}

#footer .col.left .weibo,
#footer .col.right .weibo { background: url('/Images/weibo.png') center center no-repeat; }

#footer .col.left .qq,
#footer .col.right .qq { background: url('/Images/qq.png') center center no-repeat; }

.navpos {}

section {
    background-color: #e0e9e0;
    padding: 0 20px;
}

#intro {
    width: 989px;
    /*min-height: 640px;*/
    margin: 0 auto;
    color: #f26951;
    position: relative;
    z-index: 4;
    border-top: solid 1px #aaa;
    padding-top: 60px;
}

#intro .row {
    margin-bottom: 60px;
    padding-bottom: 100px;
    padding-left: 60px;
    border-bottom: 1px solid #999;
}

#intro .col.left {
    width: 400px;
    float: left;
}

#intro .col.left p {
    font-size: 1.4em;
    line-height: 2.2em;
    text-indent: 2.0em;
}

#intro .col.right {
    position: relative;
    width: 360px;
    float: right;
    margin-right: 80px;
}

#intro .col.right h4 {
    font-size: 1.8em;
}

#intro .col.right p {
    font-size: 1.3em;
    line-height: 2.0em;
    text-indent: 2.0em;
    color: #333;
}


#coach {
    width: 989px;
    /*min-height: 640px;*/
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding-top: 20px;
}

#coach .row {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #999;
    height: 460px;
}

#coach .col.left {
    float: left;
}

#coach .col.right {
    position: relative;
    width: 400px;
    float: right;
    padding-right: 40px;
}

#coach .col.right p {
    font-size: 1.4em;
    line-height: 1.4em;
    text-indent: 2.0em;
}

#coach .col.right p.fl:first-letter {
    color: #444;
    display: inline;
    float: left;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: -24px;
    margin-top: -6px;
}

#circle-coach-portfolio .coach-desc {
    margin-top: 72px;
}

#circle-coach-contact .coach-desc {
    margin-top: 60px;
}

#event {
    width: 989px;
    /*min-height: 640px;*/
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding-top: 10px;
}

#event .row {
    margin-bottom: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #999;
}

#coin-slider {
    margin: 0 94px;
}

#coin-slider .cs-prev,  #coin-slider .cs-next{
    color: #eee;
    font-family: Consolas;
    font-weight: 800;
    font-size: 24px;
}

#coin-slider .cs-prev:hover,  #coin-slider .cs-next:hover {
    color: #0ff;
}

#event .desc {
    margin: 0 80px 40px 80px;
}

#event div h4 {
    color: #f26951;
    font-size: 1.8em;
}

#event div p {
    font-size: 1.3em;
    line-height: 1.4em;
    text-indent: 2.0em;
}

#course {
    width: 989px;
    /*min-height: 640px;*/
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding-top: 10px;
}

#course .row {
    margin-bottom: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #999;
}

#course .course_nav {
    margin: 0 80px 40px 80px;
}

#course .course_nav h4 {
    color: #f26951;
    font-size: 1.8em;
}

#course .course_nav h4 a {
    color: #333;
    font-size: 0.8em;
    font-weight: normal;
    float: right;
    padding: 0 20px;
}

#course .course_nav h4 a:hover {
    background-color: #f26951;
    color: #fff;
}

#course .course_nav li {
    display: inline-block;
    font-size: 1.4em;
    margin: 0 6px;
    padding-bottom: 4px;
    cursor: pointer;
}

#course .course_nav li.active {
    border-bottom: solid 4px #f26951;
}

#course .course_nav li:hover {
    border-bottom: solid 4px #f26951;
}

#course .course_desc {
    width: 780px;
    height: 360px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 1px 1px 1px #888;
    padding: 20px;
    border: solid 1px #eee;
    background-image: url('/Images/bg_course.jpg');
}

#course .course_desc p {
    font-size: 1.8em;
    margin-left: 20px;
}

#course .course_desc ul {
    list-style-type:disc;
    margin: 70px;
    font-size: 1.3em;
    line-height: 2.0em;
}

.course_desc_hide, .syllabus_hide, .recruit_hide {
    display: none;
}

.course_link {}

#syllabus_content, #recruit_content, #sport_pychology {
    padding: 10px 30px;
    background: #fff;
}

#syllabus_content h3, #recruit_content h3, #sport_pychology h3 {
    color: #f26951;
    text-align: center;
    font-size: 2.0em;
}

#syllabus_content .row, #recruit_content .row {
    margin: 20px 40px;
}

#syllabus_content table {
    margin: 0 auto;
    border: solid 1px #ccc;
    border-collapse: collapse;
}

#syllabus_content tr.odd  {
    background-color: #ded;
}

#syllabus_content td {
    padding: 4px 10px;
    border: solid 1px #ccc;
}

#syllabus_content td.wek  {
    background-color: rgba(255,220,190,0.5);
}
#recruit_content .recruit_day {
    font-size: 1.4em;
}

#recruit_content .recruit_day .inline {
    margin: 0 60px 0 0;
}

#recruit_content .recruit_day ul {
    list-style-type: disc;
    margin: 0 0 0 30px;
}

#recruit_content p {
    margin: 4px 0;
}

#sport_pychology p {
    font-size: 1.4em;
    text-indent: 2em;
    line-height: 2em;
}

#feature {
    width: 989px;
    /*min-height: 640px;*/
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding-top: 10px;
}

#feature .row {
    margin-bottom: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #999;
}

#feature h4 {
    color: #f26951;
    font-size: 1.8em;
    margin-left: 80px;
}

#feature h4 a {
    color: #333;
    font-size: 0.8em;
    font-weight: normal;
    float: right;
    padding: 0 20px;
    margin-right: 80px;
}

#feature h4 a:hover {
    background-color: #f26951;
    color: #fff;
}

.feature_link {}

#hardware {
    width: 989px;
    /*min-height: 640px;*/
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding-bottom: 180px;
}

#hardware h4 {
    color: #f26951;
    font-size: 1.8em;
    margin-left: 80px;
}
