html {
    display: block;
    font-size: 100%;
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
div,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
textarea,
th,
td,
img {
    background: transparent;
    border: medium none;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }

[hidden] { display: none; }

a {
    color: #696969;
    text-decoration: none;
}
a:focus { outline: thin dotted; }
a:active,
a:hover { outline: 0; }
a:hover img { opacity: 0.8; }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

abbr[title] { border-bottom: 1px dotted; }

b,
strong,
.strong { font-weight: 100; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark {
    background: #0f0;
    color: #000;
}

p,
pre { margin: 1em 0; }

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
    _font-family: 'courier new', monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q { quotes: none; }

q:before,
q:after {
    content: '';
    content: none;
}

small { font-size: 75%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl,
menu,
ol,
ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu,
ol,
ul { padding: 0 0 0 40px; }

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
}

figure { margin: 0; }

form { margin: 0; }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input { line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
input[disabled] { cursor: default; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    *height: 13px;
    padding: 0;
    *width: 13px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

p {
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

dfn,
em,
.em { font-style: italic; }

small,
.small { font-size: 75%; }

ul,
ol {
    list-style-type: none;
    padding: 0;
}

dd { margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist { list-style: none; }

.onecol { width: 5.801104972%; }

.twocol { width: 14.364640883%; }

.threecol { width: 22.928176794%; }

.fourcol { width: 31.491712705%; }

.fivecol { width: 40.055248616%; }

.sixcol { width: 48.618784527%; }

.sevencol { width: 57.182320438000005%; }

.eightcol { width: 65.74585634900001%; }

.ninecol { width: 74.30939226%; }

.tencol { width: 82.87292817100001%; }

.elevencol { width: 91.436464082%; }

.twelvecol { width: 99.999999993%; }

.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
    float: left;
    margin-left: 2.762430939%;
    position: relative;
}

.first { margin-left: 0; }

.last { float: right; }

.clearfix { zoom: 1; }

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after { clear: both; }

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

span.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
}

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.alert {
    border: 1px solid;
    margin: 10px;
    padding: 5px 18px;
}

.alert-help {
    background: #ebe16f;
    border: 1px solid;
    border-color: #e8dc59;
    margin: 10px;
    padding: 5px 18px;
}

.alert-info {
    background: #d5edf8;
    border: 1px solid;
    border-color: #bfe4f4;
    margin: 10px;
    padding: 5px 18px;
}

.alert-error {
    background: #fbe3e4;
    border: 1px solid;
    border-color: #f8cdce;
    margin: 10px;
    padding: 5px 18px;
}

.alert-success {
    background: #e6efc2;
    border: 1px solid;
    border-color: #deeaae;
    margin: 10px;
    padding: 5px 18px;
}

.button,
.button:visited,
input[type="submit"] {
    -moz-border-radius: 52px;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 52px;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: #d4d1b6;
    border: 0 solid transparent;
    border-radius: 52px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "SteelfishRgBold";
    font-size: 28px !important;
    font-weight: 100;
    line-height: 21px;
    margin-bottom: 20px;
    min-height: 104px;
    min-width: 104px;
    padding: 4px 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus,
.button:visited:hover,
.button:visited:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #F26951;
    color: #fff;
}

.button:active,
.button:visited:active,
input[type="submit"]:active { background-color: #F26951; }

body {
    background-color: #d4e8e0;
    font-family: "微软雅黑", "黑体", "宋体", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #333;
    font-size: 11px;
    line-height: 1.6;
    overflow-x: hidden;
}

.wrap {
    margin: 0 auto;
    width: 990px;
}

#main {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    padding: 0 0 0 1px;
    position: relative;
    width: 530px;
}

a,
a:visited { color: #F26951; }

a:hover,
a:focus,
a:visited:hover,
a:visited:focus { color: #ef4426; }

a:link,
a:visited:link { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-weight: 100;
    text-rendering: optimizelegibility;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a { text-decoration: none; }

h1,
.h1 {
    font-size: 2.5em;
    line-height: 1.333em;
}

h2,
.h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em;
}

h3,
.h3 { font-size: 1.125em; }

h4,
.h4 {
    font-size: 1.1em;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 0.846em;
    letter-spacing: 2px;
    line-height: 2.09em;
    text-transform: uppercase;
}

.page-links {
    clear: both;
    line-height: 1.714285714;
}

footer.entry-meta {
    color: #777;
    font-size: 13px;
    line-height: 1.846153846;
    margin-top: 24px;
}

.single-author .entry-meta .by-author { display: none; }

nav.wp-prev-next {
    margin: 0 auto;
    padding: 0;
    text-align: right;
    width: 989px;
}

nav.wp-prev-next ul { width: 530px; }

nav.wp-prev-next .next-link { float: left; }

nav.wp-prev-next a {
    font-family: 'futurabold', Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
}

.required { color: red; }

label ~ span.required {
    display: block;
    float: left;
    margin: -18px 0 0 -16px;
}

.footer { clear: both; }

#hideoverflow {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.skrollrNav {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    display: block;
    font-size: 16px;
    left: 0;
    padding: 16px 16px 16px 0;
    position: fixed;
    text-transform: uppercase;
    top: 60px;
    width: 160px;
    z-index: 8;
}

.skrollrNav li {
    background: url('/Images/bg_nav.png') bottom right no-repeat;
    height: 40px;
    line-height: 40px;
    text-align: right;
}

.skrollrNav a {
    color: #fff;
    letter-spacing: 2px;
}

.skrollrNav a:hover,
.skrollrNav a.active { color: #363 !important; }

#masked {
    background: transparent url('/Images/Top-Circle.jpg') top center no-repeat;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 823px;
}

#mask {
    background: transparent url('/Images/section1_mask.png') top center no-repeat;
    height: 906px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 4;
}

#mask #intro {
    margin: 0 auto;
    padding: 325px 0 0;
    position: relative;
    text-align: center;
    width: 700px;
}

#mask h2 {
    color: #fff;
    font-family: '黑体';
    font-size: 50px;
    letter-spacing: 26px;
    line-height: 80px;
    margin: 0 0 40px 50px;
}

#mask h3 {
    color: #fff;
    font-family: '黑体';
    font-size: 68px;
    letter-spacing: 10px;
    line-height: 68px;
    margin-top: 0;
    margin-bottom: 60px;
}

#mask .divider {
    background-color: #fff;
    height: 8px;
    margin: 50px auto;
    width: 69px;
}

#mask h4 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0 auto;
    width: 410px;
}

#section1 {
    height: 202px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 7;
}

#section1 img {
    display: block;
    margin: -60px auto;
}

#nav_slide {
    color: #c7c4ac;
    font-family: "ThorowgoodRegular", Georgia, 'serif';
    margin: 100px 0 0;
    position: absolute;
    text-align: right;
    width: 940px;
    z-index: 100;
}

#nav_slide a {
    background: url("/wp-content/themes/caava/img/arrows_gallery.png") repeat scroll 27px -30px transparent;
    display: block;
    height: 26px;
    margin: 0 0 0 auto;
    outline: none;
    overflow: hidden;
    text-align: left;
    text-indent: 9000px;
    width: 27px;
}

#featured_wrapper {
    background: url('/wp-content/themes/caava/img/bg_featured.jpg') top left repeat-x;
    height: 462px;
    margin-bottom: 110px;
    overflow: hidden;
    width: 100%;
}

#featured {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.mask_diag {
    background: url('/wp-content/themes/caava/img/mask_diag.png') top left no-repeat;
    height: 418px;
    left: -240px;
    position: absolute;
    top: 0;
    width: 759px;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    width: 989px;
}

.section {
    min-height: 140px;
    padding-top: 60px;
    position: relative;
}

.section h3 {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 26px;
    margin: 20px 0 0 0;
    text-indent: 20px;
    text-indent: 30px;
    text-transform: uppercase;
}

.ico_twitter,
.ico_facebook,
.ico_tumbler,
.ico_behance {
    background-image: url('/wp-content/themes/caava/img/ico_socials.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    margin-right: 4px;
    vertical-align: bottom;
    width: 26px;
}

.follow {
    color: #F26951;
    display: inline-block;
    font-family: "SteelfishRgBold";
    font-size: 28px;
    height: 37px;
    text-transform: uppercase;
    vertical-align: bottom;
}

.ico_twitter { background-position: 0px 0px; }

.ico_facebook { background-position: -35px 0; }

.ico_tumbler { background-position: -70px 0; }

.ico_behance { background-position: -105px 0; }

.ico_twitter:hover { background-position: 0 -26px; }

.ico_facebook:hover { background-position: -35px -26px; }

.ico_tumbler:hover { background-position: -70px -26px; }

.ico_behance:hover { background-position: -105px -26px; }

.featured_work {
    margin-top: -30px !important;
    position: relative;
    width: 590px;
    z-index: 5;
}

.profile {
    margin: 20px auto -16px !important;
    position: relative;
    width: 980px;
    z-index: 2;
}

.profile .arrow {
    background: url('/wp-content/themes/caava/img/arrow_section_left.png');
    display: block;
    height: 813px;
    left: 75px;
    position: absolute;
    top: 0;
    width: 937px;
    z-index: 4;
}

.work {
    margin: -16px auto 0px !important;
    position: relative;
    width: 630px;
}

.work .arrow {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background: url('/wp-content/themes/caava/img/arrow_section_left.png');
    display: block;
    height: 813px;
    position: absolute;
    width: 937px;
    z-index: 4;
}

.quote {
    position: relative;
    width: 989px;
}

.quote .arrow {
    background: url('/wp-content/themes/caava/img/arrow_section_left.png');
    display: block;
    height: 813px;
    left: 75px;
    position: absolute;
    top: 0;
    width: 937px;
}

.profile,
.work,
.featured_work,
.mission_phil,
.quote {
    color: #c7c4ac;
    font-family: "futurabold", Arial;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 30px auto;
    text-transform: uppercase;
}

#quoteit {
    margin: 0 auto 60px;
    overflow: hidden;
    width: 989px;
}

#quoteit .col { width: 49%; }

#quoteit .col.left { float: left; }

#quoteit .col.right {
    background: url('/wp-content/themes/caava/img/bg_contact.png') top right no-repeat;
    float: right;
    height: 427px;
    padding-top: 160px;
    text-align: center;
    width: 427px;
}

#quoteit .col.right h3 {
    border-bottom: 1px solid #d4d1b6;
    color: #F26951;
    font-family: "ThorowgoodRegular", Georgia, 'serif';
    font-size: 26px;
    letter-spacing: 2px;
    margin: 12px auto;
    padding-bottom: 8px;
    width: 243px;
}

#quoteit .col.right a {
    color: #F26951;
    font-family: "futuramedium_oblique", Arial;
    font-size: 16px;
    text-decoration: none;
}

#foot_wrapper {
    background-color: #84c694;
    padding-bottom: 60px;
    position: relative;
    width: 100%;
}

#thanks {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url('/Images/bg_thanks.jpg');
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #84c694;
    font-weight: bold;
    font-size: 90px;
    height: 200px;
    letter-spacing: 20px;
    padding-top: 5px;
    text-align: center;
}

#thanks span {
    margin-left: 40px;
}

.field_admin_only { display: none; }

#gform_2 ul.gfield_radio li, #gform_2 ul.gfield_checkbox li { overflow: visible !important; }

#thanks img,
#thanks span { vertical-align: middle; }

#footer {
    color: #fff;
    margin: 0 auto 60px;
    width: 980px;
}

#footer a { color: #fff; }

#footer .col {
    border-top: 1px solid #fff;
    float: left;
    margin: 70px 12px 0;
    width: 30%;
}

#footer .col h2,
#footer .col .tweet_intro {
    font-family: "futurabold", Arial;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 4px;
    margin: -9px 0 0;
    text-align: center;
    text-transform: uppercase;
}

#footer .col h2 span,
#footer .col .tweet_intro span {
    background-color: #84c694;
    padding: 0 12px;
}

#footer .col h3 {
    font-family: 'futurabook', Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 16px;
    text-transform: uppercase;
}

#footer .col h3 a { text-decoration: none; }

#footer .col h3 a:hover { text-decoration: underline; }

#footer .col p.meta {
    font-family: "futurabold", Arial;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 0;
    text-transform: uppercase;
}

#footer .col.middle {
    margin: 70px 0 0;
    width: 33%;
}

#footer .col.middle h2 { margin-bottom: -20px; }

#footer .col.middle li a {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 73px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#footer .col.left,
#footer .col.right {
    height: 319px;
    padding: 0 10px;
    position: relative;
}

#footer .col.left .tweet-follow,
#footer .col.left .blog-follow,
#footer .col.right .tweet-follow,
#footer .col.right .blog-follow {
    bottom: 0;
    display: block;
    height: 45px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9000px;
    width: 100%;
}

#footer .col.left .tweet-follow,
#footer .col.right .tweet-follow { background: url('/wp-content/themes/caava/img/tweet-follow.png') center center no-repeat; }

#footer .col.left .blog-follow,
#footer .col.right .blog-follow { background: url('/wp-content/themes/caava/img/blog-follow.png') center center no-repeat; }

.tweet_time,
.tweet_text { font-size: 13px; }

.tweet_time {
    display: block;
    font-family: "futurabold", Arial;
}

.tweet_time a { text-decoration: none; }

body.iphone,
body.ipad {
    max-width: 989px;
    overflow: hidden;
}

.tweet_list {
    list-style: none;
    margin: 9px 0 0 0;
    overflow-y: hidden;
    padding: 0;
}

.tweet_list li {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5em;
}

.tweet_list .tweet_avatar {
    float: left;
    padding-right: .5em;
}

.tweet_list .tweet_avatar img { vertical-align: middle; }

h2.section-title {
    background: url('/wp-content/themes/caava/img/header_blog.png') bottom center no-repeat;
    height: 605px;
    margin: 0 auto;
    width: 990px;
}

h2.section-title a {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -9000px;
    width: 100%;
}

#projects .post-edit-link {
    position: absolute;
    right: 10px;
    top: 10px;
}

#spinner {
    display: none;
    left: 46px;
    position: fixed;
    top: 230px;
}
